{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/bootstrap/css/bootstrap-rtl.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/datatables/datatables.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/datatables/style.css')}}">
    <link rel="stylesheet" href="{{asset('assets/sahel/sahel.css')}}">
    <link rel="stylesheet" href="{{asset('assets/custom/home.css')}}">
    <link rel="stylesheet" href="{{ asset('assets/custom/home.css') }}">
{% endblock %}
{% block title %}{% trans %}site.name{% endtrans%} - {% block pageTitle %}{% endblock %}{% endblock %}
{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light text-dark {% if app.request.get('_route') == 'home' %} position-absolute opacity {% else %} opacity-1 {% endif %}" style="width: 100%" >
        <a class="navbar-brand" href="{{path('home')}}">
            <img src="{{asset('images/shoar.gif')}}" class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{path('home')}}">{% trans %}menu.home{% endtrans %}</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{path('newsArchive')}}">{% trans %}menu.news.archive{% endtrans %}</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% trans %}menu.about{% endtrans %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{path('staticPages',{'url':'history'})}}">{% trans %}menu.m1{% endtrans %}</a>
                        <a class="dropdown-item" href="{{path('staticPages',{'url':'managers'})}}">{% trans %}menu.m2{% endtrans %}</a>
                        <a class="dropdown-item" href="{{path('staticPages',{'url':'tasks'})}}">{% trans %}menu.m3{% endtrans %}</a>
                        <a class="dropdown-item" href="{{path('staticPages',{'url':'mapway'})}}">{% trans %}menu.m4{% endtrans %}</a>
                        <a class="dropdown-item" href="{{path('staticPages',{'url':'corerolls'})}}">{% trans %}menu.m5{% endtrans %}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{path('staticPages',{'url':'statute'})}}">{% trans %}menu.m6{% endtrans %}</a>
                        <a class="dropdown-item" href="{{path('staticPages',{'url':'chart'})}}">{% trans %}menu.m7{% endtrans %}</a>
                        <a class="dropdown-item" href="{{path('staticPages',{'url':'doing_past'})}}">{% trans %}menu.m8{% endtrans %}</a>

                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% trans %}menu2.m0{% endtrans %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">{% trans %}menu2.m1{% endtrans %}</a>
                        <a class="dropdown-item" href="#">{% trans %}menu2.m2{% endtrans %}</a>
                        <a class="dropdown-item" href="#">{% trans %}menu2.m3{% endtrans %}</a>
                        <a class="dropdown-item" href="#">{% trans %}menu2.m4{% endtrans %}</a>
                        <a class="dropdown-item" href="#">{% trans %}menu2.m5{% endtrans %}</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% trans %}menu4.m0{% endtrans %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#"><i class="fa fa-images"></i> {% trans %}menu4.m1{% endtrans %}</a>
                        <a class="dropdown-item" href="#"><i class="fa fa-film"></i> {% trans %}menu4.m2{% endtrans %}</a>
                        <a class="dropdown-item" href="#"><i class="fa fa-volume-up"></i> {% trans %}menu4.m3{% endtrans %}</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">{% trans %}menu3.m0{% endtrans %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('staticPages',{'url':'connect'})}}" tabindex="-1" aria-disabled="true">{% trans %}menu5.m0{% endtrans %}</a>
                </li>
            </ul>
        </div>
    </nav>
    {% block pageBody %}{% endblock %}

    <div class="container-fluid footer-main">
        <div class="row text-center justify-content-center p-3">
            <div class="col-sm-6 col-md-3">
                <p>
                    <h4 class="text-light">اندیشه‌کده‌ها</h4>
                    <ul class="footer-ul">
                        <li><a class="" href=""></a>گروه هم اندیشی قرآن و عترت</li>
                        <li><a class="" href=""></a>گروه هم اندیشی مسئولیت اجتماعی</li>
                        <li><a class="" href=""></a>گروه هم اندیشی خانواده و سبک زندگی</li>
                        <li><a class="" href=""></a>گروه هم اندیشی هنر</li>
                        <li><a class="" href=""></a>گروه هم اندیشی کتاب و کتا‌خوانی</li>
                        <li><a class="" href=""></a>گروه هم اندیشی دفاع مقدس</li>
                    </ul>
                </p>

            </div>
            <div class="col-sm-6 col-md-3">
                <p>
                    <h4 class="text-light">بخش‌ها</h4>
                    <ul class="footer-ul">
                        <li><a class="" href=""></a>پژوهش</li>
                        <li><a class="" href=""></a>مقالات</li>
                        <li><a class="" href=""></a>اخبار</li>
                        <li><a class="" href=""></a>همایش‌ها</li>
                        <li><a class="" href=""></a>ویژه‌نامه‌ها</li>
                    </ul>
                </p>

            </div>
            <div class="col-sm-6 col-md-3">
                <p>
                    <h4 class="text-light">مدیریت فرهنگی و کانون‌ها</h4>
                    <ul class="footer-ul">
                        <li><a class="" href=""></a>کانون قرآن و عترت</li>
                        <li><a class="" href=""></a>کانون اجتماعی</li>
                        <li><a class="" href=""></a>کانون سبک زندگی</li>
                        <li><a class="" href=""></a>کانون هنر</li>
                        <li><a class="" href=""></a>کانون کتاب و کتا‌خوانی</li>
                        <li><a class="" href=""></a>کانون دفاع مقدس</li>
                    </ul>
                </p>

            </div>
            <div class="col-sm-6 col-md-3">
                <p>
                    <h4 class="text-light">تماس با ما</h4>
                    <p>
                        <b>آدرس:</b>
                        سیرجان خیابان وحید ساختمان هلال احمر موسسه فرهنگی معراج اندیشه صندوق پستی ۱۱۵
                    </p>
                    <p>
                        تلفن:۰۰۰۰۰۰۰۰۰۰
                    </p>
                    <p>
                        پست الکترونیکی:.........
                    </p>
                    <p>
                        سامانه پیامکی:.........
                    </p>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
